normalize-css()

.wheresbold
  font-weight 900
  font-family "Hiragino Kaku Gothic Standard"
  font-size 20pt

.wheres-bold-small
  font-weight 900
  font-family "Hiragino Kaku Gothic Standard"
  font-size 13pt

body *
  font-family: "Helvetica Neue Light"
  line-height 1.4em
  font-size 12pt
  //b()

h1, h2, h3, h4, h5
  margin-top: 0
  margin-bottom 5px !important

#wrapper
  margin-top 60px

// when viewing through iphone stuff
// get vertical center (well, kinda)
@media (max-width: 320px)
  #wrapper
    margin-top 40%

/* gif-part-*.jade */
#frame1, #frame2, #frame3
  display none

#frame2 img
  margin-left 30px

#frame3 img
  margin-left 100px

/* introduction.jade */
#introduction p
  margin-top 35%
  width      430px
  line-height 1.4em
  font-size 16pt
  font-family: "Helvetica Neue Light"

/* about-us.jade */
#about-wrapper
  margin-top 5%

#mugshots div, #mugshots div h3, #mugshots div p
  position absolute

#luke
  left 200px

#luke h3
  font-size 12pt
  width 140px
  left 180px

#paddy-is-special
  top 100px

#paddy-is-special h3
  font-size 12pt
  top -8px
  right 200px

#paddy-is-special p
  font-size 10pt
  width 200px
  top   29px
  right 168px

#martin
  top  200px
  left 200px

#martin h3
  font-size 12pt
  width 200px
  top 150px
  left 180px

@media (min-width: 768px)
  #dotted-bracket
    right 30px

@media (min-width: 1280px)
  #dotted-bracket
    right 115px

  #about-text
    right 100px

#about-text #text
  width      320px
  margin-top 80px

#about-text #text a
  color black
  text-decoration none
  font-size 13pt
  border-bottom: dotted 0.5px black;

#about-text #text a:hover
  border-bottom-color #020405

#about-text #text
  position relative
  right 70px

#about-text #text h2
  margin 0
  margin-bottom 5px

#dotted-bracket
  top 125px

#nav
  margin-left 40%

#right-arrow
  color black
  margin-left 10%

#left-arrow
  color black

#about-us-responsive div h3, #about-us-responsive div img
  text-align   center
  margin-left  auto
  margin-right auto

/* fixed menu */
#fixed-nav a
  margin-left 5px

#fixed-nav
  z-index  -1
  width    180px
  position absolute
  left     15px
  bottom   180px
  right    0

/* fixed logo */
#fixed-logo
  z-index  -1
  width    160px
  position absolute
  left     10px
  bottom   10px
  right    0

#fixed-logo img
  max-height 160px
  max-width  160px

#xs-logo img
  max-height   100px
  max-width    100px
  margin-left  auto
  margin-right auto

/* submission-form.jade */
#feedback
  margin-top 50px
  z-index 1

#email
  width 250px
  margin-bottom 10px

#suggestion
  width 250px

#submit_button
  margin-top 10px

/* general page layouts */
#why-wrapper, #idea-wrapper, #problems-wrapper, #help-wrapper, #form-wrapper
  margin-top 5%
