normalize-css()

body *
  font-family: "Helvetica Neue Light"
  line-height 1.4em
  font-size 12pt
  // b()

#wrapper
  margin-top 60px

// when viewing through iphone stuff
// get vertical center (well, kinda)
@media (max-width: 320px)
  #wrapper
    margin-top 40%

/* gif-part-*.jade */
#frame1, #frame2, #frame3
  display none

#frame2 img
  margin-left 30px

#frame3 img
  margin-left 100px

/* introduction.jade */
#introduction p
  margin-top 35%
  width      430px
  line-height 1.4em
  font-size 16pt
  font-family: "Helvetica Neue Light"
  
#introduction span
  font-weight 900
  font-family "Hiragino Kaku Gothic Standard"
  font-size 20pt

/* about-us.jade */
#mugshots div, #mugshots div h3, #mugshots div p
  position absolute

#luke
  left 200px

#luke h3
  font-size 12pt
  width 140px
  left 180px

#paddy-is-special
  top 100px

#paddy-is-special h3
  font-size 12pt
  top -8px
  right 200px

#paddy-is-special p
  font-size 10pt
  width 200px
  top   29px
  right 168px

#martin
  top  200px
  left 200px

#martin h3
  font-size 12pt
  width 200px
  top 150px
  left 180px

@media (min-width: 768px)
  #dotted-bracket
    right 30px

@media (min-width: 1280px)
  #dotted-bracket
    right 115px

  #about-text
    right 100px

#about-text #text
  width      320px
  margin-top 80px

#about-text #text
  position relative
  right 70px

#dotted-bracket
  top 125px

#submit_button
  margin-top 5%

#nav
  margin-left 40%

#right-arrow
  color black
  margin-left 10%

#left-arrow
  color black

#about-us-responsive div h3, #about-us-responsive div img
  text-align   center
  margin-left  auto
  margin-right auto

/* fixed logo */
#fixed-logo
  position absolute
  left     10px
  bottom   10px
  right    0

#fixed-logo img
  max-height 160px
  max-width  160px

#xs-logo img
  max-height   100px
  max-width    100px
  margin-left  auto
  margin-right auto
