extends layout

block content
  .col-md-10.col-md-offset-1
    .row
      .col-md-5
        .row
          img.img-responsive(src='/images/luke-mugshot.jpg')
          img.img-responsive(src='/images/paddy-mugshot.jpg')
          img.img-responsive(src='/images/martin-mugshot.jpg')
      .col-md-2
        img.img-responsive(src='/images/dotted-bracket.jpg')
      .col-md-5
        h2 Nomadic Web
        p 
          | Martin O' Grady and Luke Murphy, two programmers from Dublin, Ireland who
          | travelled to Palestine to build skate parks as part of the SkatePAL charity. They
          | did this from June throughout August. Since then they have been travelling around 
          | South America and are hoping to use whereswall.ie to meet local skateboarders 
          | and skate the spots their cities have to offer.
