extends layout

block content
  .row#textContainer
    .col-md-2#paddyCol
      h4 Paddy Walsh
      p I did an idea and desgin
    .col-md-4#nomadCol
      img.img-responsive(src='/images/MugshotsFull.jpg')
    .col-md-2#nameCol
     .row#lukeRow
       h4 Luke Murphy
     .row#martinRow
       h4 Martin O'Grady
    .col-md-4#textCol
      h2 Nomadic Web
      p 
        | Martin O' Grady and Luke Murphy, two
        |  programmers from Dublin, Ireland who
        |  travelled to Palestine to build skate parks
        |  as part of the SkatePAL charity. They
        |  did this from June throughout August
        |  Since then they have been travelling around South America and
        |  are hoping to use whereswall.ie to meet
        |  local skateboarders and skate the spots their cities have to offer.








