extends layout

block content
  .col-md-10.col-md-offset-1
    .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
      h2 The Idea?
      p 
        span Whereswall.ie
        |  is a forum-style website that allows
        | you to post your interest at a certain location you will
        | be travelling to in order to receive help from local
        | skateboarders. In your post, you can specify whatever
        | you like, such as looking for directions to particular
        | spot, looking for a list of spots the city has to offer or
        | seeing if any locals would like to meet up for a skate
        | around their city.

      p
        | You can also set your current location and be notified
        | of skaters visiting your area. You can give advice, send
        | a list of lesser known spots or arrange to go for a skate
        | and introduce the visitor to your scene.

      div#nav
        a#left-arrow(href="/why")
          i.fa.fa-hand-o-left
        a#right-arrow(href="/problems")
          i.fa.fa-hand-o-right
