extends layout

block content
  .col-md-10.col-md-offset-1
    .col-md-8.col-md-offset-2#introduction.col-sm-8.col-sm-offset-2
      p
        | <span>whereswall.ie</span>
        | allows skateboarders who are travelling to easily find locals 
        | and spots at their destination. It also allows those locals to be 
        | notified of visiting skateboarders 
        | notified of visiting skateboarders
      div#nav
        a#right-arrow(href="/about-us")
          i.fa.fa-hand-o-right
