extends layout

block content
  .col-md-10.col-md-offset-1
    .col-md-8.col-md-offset-2#introduction
      p
        | <span>whereswall.ie</span>
        | allows skateboarders who are travelling to easily find locals 
        | and spots at their destination. It also allows those locals to be 
        | notified of visiting skateboarders
