extends layout

block content
  .col-md-10.col-md-offset-1
    .col-md-6.col-md-offset-3#introduction.col-sm-8.col-sm-offset-2
      p
        | <span class="wheresbold">whereswall.ie</span>
        | allows skateboarders who are travelling to easily find locals
        | and spots at their destination. It also allows those locals to be
        | notified of visiting skateboarders.
