doctype
html
  head
    title whereswall.ie - #{title}
    script(src="/javascripts/modernizr-custom.js")
    script(src="/javascripts/preload.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    meta(name='viewport', content='width=device-width', initial-scale='1')
    script.
        if(window.location.pathname === "/"){
            var srcs = ["/images/wallie-frame-1.jpg", 
                        "/images/wallie-frame-2.jpg", 
                        "/images/wallie-frame-3.jpg"];
            preload(srcs);
        }
    != LRScript
  body
    .container
      #wrapper
        #switch-content
          block content
        #xs-logo.hidden-sm.hidden-md.hidden-lg
          .col-xs-8.col-xs-offset-2
            img.img-responsive(src='/images/logo-plus-text.png')
          
    #fixed-logo.hidden-xs.hidden
      a(href='/')
        img.img-responsive(src='/images/logo-plus-text.png')
        

    // javascripts
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/app.js")
