doctype
html
  head
    title whereswall.ie - #{title}
    script(src="/javascripts/modernizr-custom.js")

    // stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

    // live-reload
    != LRScript
  body
    .container
      .col-md-10.wrapper
        block content

    // javascripts
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/app.js")
