extends layout

block content
  .col-md-10.col-md-offset-1.synopsis
    .col-md-2
      img.about-image(src='/images/martin.png')
    .col-md-8
      p.about-text
        | This is the big spiel about us This is the big spiel about us
      p
        | Read about <a href="/about/luke" onclick="linkLoader('.synopsis')">Luke</a>
