a(href='/intro', onclick="linkLoader('#fixed-xs-menu')")
  i.fa.fa-circle-o
a(href='/about-us', onclick="linkLoader('#fixed-xs-menu')")
  i.fa.fa-circle-o
a(href='/why', onclick="linkLoader('#fixed-xs-menu')")
  i.fa.fa-circle-o
a(href='/idea', onclick="linkLoader('#fixed-xs-menu')")
  i.fa.fa-circle-o
a(href='/problems', onclick="linkLoader('#fixed-xs-menu')")
  i.fa.fa-circle-o
a(href='/we-need-you', onclick="linkLoader('#fixed-xs-menu')")
  i.fa.fa-circle-o
a(href='/form', onclick="linkLoader('#fixed-xs-menu')")
  i.fa.fa-circle-o
