extends layout

block content
  div#textContainer
    .col-md-7.col-md-offset-3
      h2 Problems Raised
      p 
        | We've pitched the idea to various skateboarders we
        | know to get some feedback, and some of the
        | feedback we got was:
        br
        br
        | How do you know the local you are meeting is
        | like-minded?
        br
        br
        | How do you know you are not going to get shown
        | around by a 12 year kid?
        br
        br
        | What happens if you live in a city that has a lot of
        | people passing through?
        br
        br
        | Could your account be completely spammed if you live
        | in a very popular destination?
