extends layout

block content
  .col-md-10.col-md-offset-1#problems-wrapper
    .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
      h2 Problems
      p 
        | We've pitched the idea to various skateboarders we
        | know to get some feedback, and some of the
        | feedback we got was:

      ul
        li
          | How do you know the local you are meeting is
          | like-minded?
        li
          | How do you know you are not meeting a 12 year kid?
        li
          | Account spamming if you live in a very popular destination?
