extends layout

block content
  .col-md-10.col-md-offset-1
    .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
      h2 We could use some help
      p 
        | We've provided a form on the next page which and we
        | are  asking for all suggestions on how to make this
        | service better, if you have no recommendations, that's
        | cool, we are looking for people to submit their email
        | address so that we can get a rough idea of interest
        | levels in this project, or to see if this idea sucks and if
        | nobody will use it.

      p
        | Thanks for reading.

      div#nav
        a#left-arrow(href="/problems" onclick="linkLoader('#nav')")
          i.fa.fa-hand-o-left
        a#right-arrow(href="/form" onclick="linkLoader('#nav')")
          i.fa.fa-hand-o-right

