extends layout

block content
  .col-md-10.col-md-offset-1
    .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
       h2 Why
       p
         | Travelling and skateboarding is usually a great experience. We 
         | have found that meeting locals and finding spots is an
         | important part of making our trips feel meaningful, but
         | it doesn’t always happen. 
         
       p 
         | Sometimes we cannot spend
         | long enough in one place to find the good spots or we
         | might be in an area with a small scene, and finding
         | locals becomes difficult. 
         
       p  
         | With our website we hope that 
         | we can help skaters in similar situations get the most out 
         | of their trips, while still maintaining the organic aspects of these
         | interactions. We want to help skaters connect and
         | improve their chances of experiencing the a scenes
         | unique skateboarding culture.

       div#nav
         a#left-arrow(href="/about-us" onclick="linkLoader('#nav')")
           i.fa.fa-hand-o-left
         a#right-arrow(href="/idea" onclick="linkLoader('#nav')")
           i.fa.fa-hand-o-right
