extends layout

block content
  div#textContainer
    .col-md-7.col-md-offset-3
     h2 Why?
     p
       | Travelling and skating is usually a great experience. We 
       br
       | have found that meeting locals and finding spots is an
       br
       | important part of making our trips feel meaningful, but
       br
       | it doesn’t always happen. Sometimes we cannot spend
       br
       | long enough in one place to find the good spots or we
       br
       | might be in an area with a small scene, and finding
       br
       | locals becomes difficult. 
       br
       br
       | With our website we hope that we can help skaters in
       br
       | similar situations get the most out of their trips, while
       br
       | still maintaining the organic aspects of these
       br
       | interactions. We want to help skaters connect and
       br
       | improve their chances of experiencing the a scenes
       br
       | unique skating culture.
