extends layout

block content
  div#textContainer
    .col-md-7.col-md-offset-3
      h2 What we need from you
      p 
        | We've provided a form on this page which and we
        | are  asking for all suggestions on how to make this
        | service better, if you have no recommendations, that's
        | cool, we are looking for people to submit their email
        | address so that we can get a rough idea of interest
        | levels in this project, or to see if this idea sucks and if
        | nobody will use it.
        br
        br
        | Thanks for reading.

